<div class="col-12 col-md-9">
  <div class="row">
    <div class="col-6 col-lg-6">
      <p><a class="btn btn-primary btn-lg btn-success" href="/stories?category=1" role="button">bajki dla najmłodszych &raquo;</a></p>
    </div>
    <div class="col-6 col-lg-6 ">
      <p><a class="btn btn-primary btn-lg btn-warning" href="/stories?category=3" role="button">bajki dla dzieci w wieku szkolnym &raquo;</a></p>
    </div>
    <div class="col-6 col-lg-6">
      <p><a class="btn btn-primary btn-lg btn-info" href="/stories?category=2" role="button"> bajki dla przedszkolaków &raquo;</a></p>
    </div>
    <div class="col-6 col-lg-6">
      <p><a class="btn btn-primary btn-lg btn-danger" href="/stories?category=4" role="button">bajki dla starszych &raquo;</a></p>
    </div>
  </div>
</div>
