<div class="col-10 col-md-9 category">
  <div class="row">
    <div class="col-6 col-lg">
      <p><a class="btn btn-primary btn-lg btn-success" href="/stories?category=1" role="button">bajki dla najmłodszych &raquo;</a></p>
    </div>
    <div class="col-6 col-lg">
      <p><a class="btn btn-primary btn-lg btn-warning" href="/stories?category=3" role="button">bajki dla dzieci klas 0-4 &raquo;</a></p>
    </div>
    <div class="col-6 col-lg">
      <p><a class="btn btn-primary btn-lg btn-info" href="/stories?category=2" role="button"> bajki dla przedszkolaków &raquo;</a></p>
    </div>
    <div class="col-6 col-lg">
      <p><a class="btn btn-primary btn-lg btn-danger" href="/stories?category=4" role="button">bajki dla starszych &raquo;</a></p>
    </div>
  </div>
</div>
