<%= render "/stories/nav" %>

<main role="main" class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <%= render "category" %>
      <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
          <a href="/stories/top10" class="list-group-item green shadow">Top 10</a>
          <a href="/stories/idea" class="list-group-item red shadow">O pomyśle</a>
          <a href="/stories/latest_stories" class="list-group-item yellow shadow">Najnowsze Bajki</a>
          <a href="/suggestions/new" class="list-group-item blue shadow">Wasze propozycje bajek, basni i opowiadań</a>
        </div>
      </div>
  </div>
</main>
<div>
  <div>
    <%# if @stories %>
      <%# @stories.each do |story| %>
        <%#= story.title.capitalize %>
        <%#= link_to story_path(story) do %>
          <%#= image_tag story.picture.url, class: "welcome picture_welcome" %>
        <%# end %>
      <%# end %>
    <%# end %>
    <% if @stories %>
      <%= render "/stories/last_stories" %>
    <% end%>
  </div>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>
  </body>
</html>
