<%= render "nav"%>
<main class="container">
  <div>
    <div>
      <div class="jumbotron">
        <h3>Witaj w zbiorze bajek i opowiadań czytanych przez lektora.</h3>

        <p> Zamysł jest prosty. Puść dziecku dowolną bajkę, baśń lub opowiadanie na dobranoc lub w innym czasie.
          Nie zawiera ona obrazów, tylko dzwięki i słowa pobudzające wyobraźnię.
          Wybierz dziecku poziom, gdyż bajki są na różnorodnym poziomie.
          Masz pewność, że Twoje dziecko nie zobaczy i nie usłyszy nic nieodpowiedniego.
          Wszystkie wpisy są skontrolowane przez administratora.
        </p>
        <p>
          Skąd wzioł się pomysł? Pomysł na taką formę bajek powstał, gdy wiele osób zaczęło mi się zwierzac, że nie ma
          miejsca w sieci, w którym dzieci bezpiecznie mogłyby posłuchac mądrych, wartościowych bajek, baśni i opowiadań
          z przesłaniem bez wszechobecnego wulgaryzmu, przemocy czy wątków o zabarwieniu seksulanym.
        </p>
        <p>
          Pomysł na taką formę bajek powstał, gdy wiele osób zaczęło mi się zwierzac, że nie ma
          miejsca w sieci, w którym dzieci bezpiecznie mogłyby posłuchac mądrych, wartościowych bajek, baśni i opowiadań
          z przesłaniem bez wszechobecnego wulgaryzmu, przemocy czy wątków o zabarwieniu seksulanym.
        </p>
        <p>
          Ta aplikacja została tak stworzona, że bez obaw o terści, można oddać ją w urzytkowanie dzieci.
        </p>
        <p>
          Jest świetnym zamiennikiem, czytania do snu dzieciom. Oczywisćie nic nie zastąpi czytania dziecią przez rodziców
          czy opeikunów, ale jest to dobra alternatywa dla bardzo zapracowanych rodziców.
        </p>
        <p>
          Bajki celowo nie zawierają obrazów, tylko sam dzwięk, gdyż mają na celu pobudzać wyobrażnię dzieci,
          uczyć ich tworzyć świat w ich głowach. Tak rozwija się dziecięcy intelekt. pobudzając w ten sposób rozwój
          dziecka, uczymy go myslec niestandardowo, bez narzuconych odgórnie obrazów i światów. Może rośnie nam mały
          wynalazca?
        </p>
        <p>
          Ta aplikacja powstała również, z uwagi na dzieci niedowidzące lub niewidome. W tym wypadku przy drobnym wsparci osób,
          które uruchomią daną bajkę, dziecko ma mozliwość odebrać pełen zasób jej walorów, ponieważ zamiast obrazów przekazywanych
          w stadardowym formacie bajki, są one przekazywane za pośrednictwem barwnych opisów.
        </p>
        <p>
          Bajki zostały podzielone na kategorie, z uwagi na trudności w interpretacji znaczeń. Naprzykład bajki oznaczone jako najtrudniejsze,
          są bardziej przeznaczone dla starszych dzieci lub nawet dorosłych. Nie znaczy to, że modsze dzieci nie moga ich słuchac.
          Oznacza to tylko tyle, że zrozumieją i odczytaja je,w innym zakresie i na innej płaszczyźnie niź, strasze osoby.
        </p>
        <p>
          Docelow aplikacja ma umożliwiać użytkownikowi rejestrowanie się i nagrywanie własnych bajek, które po zatwierdzeniu,
          (co jest kluczowe by zachować gwarantowane standardy bezpieczeństwa) mogą być udostępniane innym użytkowniką.
          Aktualnie jest to wersja Beta, która umożliwia odsłuchanie poszczególnych bajek i ich ocenę, a także zgłaszanie propozycji
          bajek do odczytania. W związku z tym, to od Państwa będzie zaleźeć jakie jeszcze funkcjonalność będą Państwu potrzebne.
        </p>
        <p>
          Bajki są ponadczasowe. Niektóre, oprócz podstawowego przekazu, zawierają kilka, warstw i poziomów.
          Nawet dorosły znajdzie to coś dla siebie. Usiądz wygodnie z ulubiony napojem, odpręż się i <strong>odkryj bajkę na nowo albo wróci do czasów dzieciństwa.</strong></p>
        </p>
      </div>
      <div class="row">
        <div class="col-6 col-lg-6">
          <h2>Bajki dla najmłodszych </h2>
          <p> Ten poziom zawiera bajki z prostym przekazem dla najmłodszych dzieci.
            Wprawdzie każda bajka może być analizowana wielopłaszczyznowo, ale te zostały specjalnie wybrane dla naszych najmłodszych słuchaczy.
            Mimo rozdzielenia na poziomy, każde dziecko może bez obaw słuchać bajek z każdego poziomu.
          </p>
          <p><a class="btn btn-primary" href="/stories?category=1" role="button"> bajki dla najmłodszych &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-lg-6">
          <h2>Bajki dla przedszkolaków</h2>
          <p> Ten poziom jest odrobine trudniejszy niż poziom poprzedni. Bajki tu zawarte posiadają więcej watków.
              Zaczarowany świat symboli i przesłań zaczyna się rozbudowywać, rozwijajac tym samym dziecięcą wyobraznię.
              Dziecko słuchając tych bajek poziom po pozimie, tworzy obrazy, postacie i zdarzenia w swojej głowie czasami się z nimi utożsamiając.
              W tym dziale zostanie poruszonych wiele problemów wieku przedszkolnego.
          </p>
          <p><a class="btn btn-primary" href="/stories?category=2" role="button"> bajki średnio-łatwe &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-lg-6 ">
          <h2>Bajki dla dzieci w wieku szkolnym </h2>
          <p> Te bajki są przeznaczone dla starszych dzieci, choć i młodsze mogą ich słuchać.
            Są bardziej rozbudowane i skomplikowane niż poprzednie działy.
            Treść i znaczenie w nich zawarte są dziś zaskakująco żywe i pozwolą dzieciom rozwiązać nie jedną swoją rozterkę, tęsknotę czy problem.
          </p>
          <p><a class="btn btn-primary" href="/stories?category=3" role="button">bajki średnio-trudne &raquo;</a></p>
        </div><!--/span-->
        <div class="col-6 col-lg-6">
          <h2>Bajki dla starszy </h2>
          <p>To są bajki do przemyślenia. Opowiadania, które, jeśli ich uważnie wysłuchasz, juz nigdy nie będziesz taki sam.
          Opowieści te na długo zagoszą w twoim umyśle i sercu, a jeśli pozwolisz na to,
          obalą bariery w nim przez lata z mozołem budowane.
          </p>
          <p><a class="btn btn-primary box-shadow: 0 4px 8px 0" href="/stories?category=4" role="button">bajki dla starszych &raquo;</a></p>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
</main><!--/.container-->
