/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

#gallerywrapper {
     width:640px;
     height:450px;
     margin:0 auto;
     position:relative;
     font-family:verdana, arial, sans-serif;
 }

 #gallerywrapper #gallery {
     position:absolute;
     left:0;
     top:0;
     height:450px;
     width:640px;
     overflow:hidden;
     text-align:center;
 }

 #gallerywrapper #gallery div {
     width:640px; height:900px;
     padding-top:10px;
     position:relative;
 }

  div img {
     clear:both;
     display:block;
     margin:0 auto;
     border:0;
 }

  div h3 {
     padding:10px 0 0 0;
     margin:0;
     font-size:18px;
 }

  div p {
     padding:5px 0;
     margin:0;
     font-size:12px;
     line-height:18px;
 }

 .previous{
     display:inline;
     float:left;
     margin-left:80px;
     text-decoration:none;
 }

 .next{
     display:inline;
     float:right;
     margin-right:80px;
     text-decoration:none;
 }


 .emoji {
   font-family: Segoe UI Emoji, Segoe UI Symbol, Quivira, Symbola;
 }
