/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.green {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 4px 8px 0;
}
.blue {
    background-color: #1E90FF;
    color: white;
    box-shadow: 0 4px 8px 0;
}
.blue1{
    color: #1E90FF;
    box-shadow: 0 4px 8px 0;
    // position:absolute;
    top:0;
    bottom:0;
    left:0;
    right: float;
    // margin:auto;
    width:70%;
    height:300px;
}
.yellow {
    background-color: #FFD700;
    color: black;
    box-shadow: 0 4px 8px 0;
}
.red {
    background-color: #FF1493;
    color: white;
    box-shadow: 5px 4px 8px 5px black;
}
.button_green {
  background-color: #4CAF50;
  color: white;
  font-size: 24px;
  box-shadow: 0 4px 8px 0;
}
.img {
    // border-radius: 8px;
    // // border: 10px solid #4CAF50;
    // padding: 5px;
    // width: 310px;
    box-shadow: 0 4px 8px 0;
}
.shadow {
  box-shadow: 0 20px 20px 5
}
.like {
  background-image:image-url('thumb.png');
  background-repeat:no-repeat;
  font-size: 150%;
  color: blue;
}
.category {
  position: relative;
  right: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 90%;
  margin: auto;
  width: 90%;
  height: 400px;
}
#sidebar {
  left: 80%;
}
a {
  color: #111;
}
.bigger {
  font-weight: 900;
  color:  black;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}
.col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 50%;
}
.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 50%;
}
.col-6-idea {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: justify;
}
.text-justify {
  text-align: justify;
}
.center {
  text-align: center;
}
.radius {
  border-radius: 70px
}
[role=button] {
  // background: rgba(48, 96, 144, 0.2);
  margin: auto;
  color: white;
  max-width: 800px;
  text-align: center;
  padding: 10px;
  border: -50px;
}
.zoom:hover {
  zoom: 150%;
}
.effect:hover img {
transition: all 0.4s ease-in-out 0s;
opacity: 0.7;
-moz-transform: scale(1,2);
-webkit-transform: scale(50%,50%);
-o-transform: scale(2,2);
-ms-transform: scale(2,2);
transform: scale(2,2);
}
.link1 {
  text-decoration: none;
  zoom: 0.9;
  padding:10px;
}
.big-text {
  font-size: 20px;
}
[role=button]:hover {
  background-color: red;
  zoom: 150%;
}
.link1:hover {
  text-decoration: none;
  background-color: red;
  border-radius: 10px;
  zoom: 120%;
}
body {
    // background-image: url("intro.jpg");
    background-image: image-url("intro.jpg");
    // background-image: url("img_tree.png");
    // background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.picture-top:hover {
  zoom: 40%;
}
.row {
  margin-right: 100px;
  margin-left: 200px;
  // filter: alpha(opacity=60);
  // margin: 5%;
  display: flex;
  font-weight: bold;
}
.row-idea {
    margin-right: 0px;
    margin-left: 0px;
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-bottom: 3rem;
}
// widok w show stories
.show {
  // margin-left: 70px;
  width: 90px;
}
.show_show {
  margin-right: 80px;
  width: 450px;
}

.table-hover .table-info:hover {
    opacity: 0.6;
}
.dropdown-menu.show {
    display: block;
    color: green;
    width: auto;
}
// widok index welcome
.welcome {
    // height: 240px;
    width: 300px;
}
.picture_parent {
  flex-wrap:wrap;
  padding:5px;
}
.picture_welcome {
  float: left;
  width: 30%;
  margin-bottom: 30px;
  flex-basis: 50%;
  flex-shrink: 1;
  margin: 10px;
  padding: 5px;
}
.picture_top {
  width: 30%;
  margin-bottom: 30px;
  flex-basis: 50%;
  flex-shrink: 1;
  margin: 10px;
  padding: 40px;
  // display: block;
}
li {
    // display: list-item;
    // text-align: -webkit-match-parent;
}
#star {
  font-weight: 900;
  color:yellow;
  // border: 1px solid yellow;
  border-radius: 3%;
  font-size: 25px;
  background: red;
  padding: 5px;
}
#star:hover {
  font-size: 128px;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  zoom:30%;
}
.table-responsive {
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-left: 50px;
  overflow-x: auto;
  background-color: transparent;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.background_table {
  background-color: transparent;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
