/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.green {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 4px 8px 0;
}

.blue {
    background-color: #1E90FF;
    color: white;
    box-shadow: 0 4px 8px 0;
}

.blue1{
    color: #1E90FF;
    box-shadow: 0 4px 8px 0;
}

.yellow {
    background-color: #FFD700;
    color: black;
    box-shadow: 0 4px 8px 0;
}

.red {
    background-color: #FF1493;
    color: white;
    box-shadow: 5px 4px 8px 5px black;
}

.button_green {
  background-color: #4CAF50;
  color: white;
  font-size: 24px;
  box-shadow: 0 4px 8px 0;
}

.img {
    // border-radius: 8px;
    // // border: 10px solid #4CAF50;
    // padding: 5px;
    // width: 310px;
    box-shadow: 0 4px 8px 0;
}

.shadow {
  box-shadow: 0 20px 20px 5
}

.like {
  background-image:image-url('thumb.png');
  background-repeat:no-repeat;
  font-size: 150%;
  color: blue;
}

a {
  color: #111;
}

body {
    // background-image: url("intro.jpg");
    // background-color: #FF8C00;
    background-image: image-url("intro.jpg");
    // background-image: url("img_tree.png");
    // background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.row {
  margin-right: 100px;
  margin-left: 200px;
  // filter: alpha(opacity=60);
  // margin: 5%;
  display: flex;
  font-weight: bold;
}

// widok w show stories
.show {
  margin-left: 70px;
  width: 450px;
}

.table-hover .table-info:hover {
    opacity: 0.6;
}

// widok index welcome
.welcome {
    // height: 240px;
    width: 300px;
}

.picture_parent {
  flex-wrap:wrap;
  padding:5px;
}
.picture_welcome {
  float:left;
  width:30%;
  margin-bottom:30px;
  flex-basis:50%;
  flex-shrink:1;
  margin:10px;
  padding:5px;
}
.table-responsive {
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-left: 50px;
  overflow-x: auto;
  background-color: transparent;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.background_table {
  background-color: transparent;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
