
<% @suggestions.each do |suggestion| %>
  <%= suggestion.id %>
  <p>
    <strong><%= suggestion.body %></strong>
  <br>
    autor:
    <strong> <%= suggestion.author %></strong>
  </p>
  <%= link_to "delete", suggestion_path(suggestion), method: "delete", date:{confirm:"Are you sure?"} %>
  <br>
<% end %>
